/* VARIABLES */

:root {
    /* COLORS */
    --red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --green: hsl(167, 40%, 24%);
    --blue: hsl(198, 62%, 26%);
    --green-footer: hsl(167, 34%, 41%);

    /* GREY & WHITE */
    
    --grey950: hsl(212, 27%, 19%);
    --grey600: hsl(213, 9%, 39%);
    --grey550: hsl(232, 10%, 55%);
    --grey400: hsl(210, 4%, 67%);
    --white: hsl(0, 100%, 100%);

    /* TYPOGRAPHY */
    --primary: "Fraunces", serif;
    --secondary: "Barlow", sans-serif;

    /*
    - Barlow Weight: 600
    - Fraunces Weights: 700, 900
    */
}

/* BASICS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: var(--primary);
}

p, a {
    font-family: var(--secondary);
}

p {
    font-weight: 500;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
}

a {
    font-weight: 500;
    font-size: 1.7rem;
    text-decoration: none;
}

/* UTILITIES */

.btn {
    background-color: transparent;
    font-family: var(--primary);
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btn-contact {
    background-color: var(--white);
    border-radius: 3rem;
    padding: 2rem 3rem;
    font-size: 1.7rem;
}

.btn-contact:hover {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-more {
    position: relative;
    background: none;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 8px 16px;
    z-index: 0;
}

.btn-more::after {
    content: "";
    position: absolute;
    left: 1rem;
    bottom: 5px;
    height: 1rem;
    width: 90%;
    opacity: .4;
    border-radius: 3rem; /* Redondea los extremos */
    z-index: -1;
}

.btn-yellow::after {
    background-color: #fed603;
}

.btn-yellow:hover::after {
    background-color: var(--yellow);
    opacity: 1;
}

.btn-red::after {
    background-color: #FF7163;
}

.btn-red:hover::after {
    background-color: var(--red);
    opacity: 1;
}


/* HEADER */

/* Background image */

.header {
    background-image: url(../images/desktop/image-header.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    
}

.logo {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.link {
    color: var(--white);
}


/* HERO */

.title {
    letter-spacing: 5px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    padding: 5rem;
    min-height: 85vh;
}

/* MAIN CONTAINER GRID */


.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-reverse {
    flex-direction: row-reverse;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3.5rem;
    margin: 0 12rem;
}

.p-content {
    color: var(--grey600);
}
.image-card {
    width: 50%;
}


/* MAIN IMAGES */

.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 85vh;
    margin: 5rem 12rem;

}

.box1 {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: center center;
    background-size: cover;
    width: 50%;
}

.box2 {
    background-image: url(../images/desktop/image-photography.jpg);
    background-position: center center;
    background-size: cover;
    width: 50%;
}

.box-title-green {
    color: var(--green);
}

.box-text-green {
    text-align: center;
    color: var(--green);
}

.box-title-blue {
    color: var(--blue);
}

.box-text-blue {
    text-align: center;
    color: var(--blue);
}

/* TESTIMONIALS */

.client-testimonials {
    margin: 10rem;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 5rem;
}

.title-testimonials {
    color: var(--grey400);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;

}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    border-radius: 10rem;
    width: 20%;
    margin: 2rem auto;
}

.testimonial-content {
    text-align: center;
    color: var(--grey600);
}

.name {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;

}


.job {
    color: var(--grey550);
    font-family: var(--secondary);
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

.photo-gallery {
    width: 100%;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #90d4c5;
    padding: 5rem;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.link-footer {
    color: var(--green);
}

.link-footer:hover {
    color: var(--white);
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.icon {
    cursor: pointer;
}

.icon {
    color: #2C7566;
}

.icon:hover {
    color: var(--white);
}


/* ATTRIBUTIONS */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a, p {
    color: hsl(228, 45%, 44%);
    font-size: 1.8rem;

}
